.DS_Store
.env
.env.local
.venv/
**/.venv/
__pycache__/
**/__pycache__/
*.pyc
*.tsbuildinfo
node_modules/
**/node_modules/
.next/
**/.next/
dist/
**/dist/
build/
**/build/
backend/data/*.sqlite
backend/data/exports/
backend/data/exports/*
logs/
*.log
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.iml
*.swp
*.swo
